<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Book the best hotel room in NY</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

  <div class="my-5 mx-auto w-50">
    <%= form_with url: root_path, method: :get, class: "d-flex " do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control bg-white",
        placeholder: "Book a room"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="grid-card">
    <% @hotel_rooms.each do |hotel_room| %>
        <div class="card-product">
          <div class="card-product-infos">
            <h2><strong><%= hotel_room.name %></strong></h2>
             <p><%= hotel_room.description%></p>
            <p><%= hotel_room.price%> $ </p>
            <%= link_to 'Check all', hotel_room_path(hotel_room), class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>

</div>
